@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

.containerAboutUs{
    width: 100vw;
    height: 100vh;
}
.titleAbout{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-top: 60px;
}
    .titleAbout h1{
        font-family: 'Oswald', sans-serif;
        color: #005BE3;
    }

.containerPAbout{
    width: 50vw;
    height: auto;
    margin: 50px auto;
    text-align:left;
}
    .containerPAbout p{
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
    }