@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

.linksContact{
    width: 40px;
    height: 150px;
    border-radius: 50px;
    background-color: rgba(255, 242, 242, 0.863);
    position: fixed;
    margin-left: 93.5vw;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    .linksContact button{
        border: none;
        background-color: transparent;
        margin-top: 10px;
    }
    .linksContact img{
        width: 25px;
        cursor: pointer;
    }

    @media only screen and (max-width: 1000px){
        .linksContact{
            margin-left: calc(100vw - 60px);
        }
    }