@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Yanone+Kaffeesatz:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}
.containerLogo{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerLogo img{
    width: 40vw;
    margin-top: -50px;
}
.containerLanding{
    width: 100%;
    height: calc(100vh);
    background-color: #2638D8;
    display: flex;
}

.containerTitle{
    width: 50vw;
    height: calc(100vh);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
    .containerTitle h1{
        margin: 0;
        padding: 0;
        font-family: 'Oswald', sans-serif;
        font-size: 64px;
        color: #fff;
        margin: 20vh 0 0 10vh;
    }
    .containerTitle button{
        width: 120px;
        height: 35px;
        border: none;
        border-radius: 60px;
        background-color: rgb(21, 189, 21);
        color: #fff;
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        margin-top: 30px;
        margin: 10vh 0 0 10vh;
        cursor: pointer;
    }
.containerContract{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0vh 0 0 10vh;
}
.containerContract p{
    color: #fff;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    margin-left: 10px;
}

.up{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(255, 242, 242);
    position: fixed;
    margin-left: 93.5vw;
    margin-bottom: 30px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
    .up img{
        width: 30px;
    }