@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

h1{
    margin: 0;
    padding: 0;
}
.containerPartners{
    width: 100%;
    height: calc(100vh);
    background: linear-gradient(180deg, #2638D8 5.1%, rgba(37, 40, 70, 0) 101.12%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerTitlePartners{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}
    .containerTitlePartners h1{
        color: #fff;
        font-family: 'Oswald', sans-serif;
    }
.listPartners{
    width: 70%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
    .listPartners img{
        width: 60px;
        margin: 0 10px 0 0;
    }
.infoPartners{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
    .infoPartners p{
        color: #3f3f3f;
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
    }
    .infoPartners button{
        width: 120px;
        height: 35px;
        border: none;
        border-radius: 60px;
        background-color: rgb(21, 189, 21);
        color: #fff;
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        margin-top: 30px;
        cursor: pointer;
    }
        .infoPartners button:hover{
            background-color: rgb(32, 102, 32);
        }