@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

.containeTokenomics{
    width: 100%;
    height: auto;
    margin-bottom: 10vh;
    background: linear-gradient(180deg, #0044AB 0%, rgba(52, 82, 244, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titleToke{
    width: 100%;
    height: auto;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleToke h1{
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

.containerCards{
    width: 70%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10vh;
}
    .cardToke{
        width: 210px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        border-radius: 0px 3px 3px 0px !important;
        font-family: 'Roboto', sans-serif;
        box-shadow: 10px 12px 21px 7px rgba(0, 0, 0, 0.25);
        border-radius: 22px;
        background-color: #fff;
        padding-bottom: 20px;
    }
    .cardToke:nth-child(1){
        border-left: 5px rgb(36, 36, 36) solid;
    }
    .cardToke:nth-child(2){
        border-left: 5px rgb(11, 11, 221) solid;
    }
    .cardToke:nth-child(3){
        border-left: 5px rgb(15, 138, 56) solid;
    }
    .cardToke:nth-child(4){
        border-left: 5px rgb(214, 211, 15) solid;
    }
    .cardToke p:nth-child(1){
        font-size: 30px;
        color: #383838;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
    }